
h1 {
    margin: 2rem 0;
    color: #feca1b;
}

article button {
    width: 10rem;
    margin: 0.2rem 0;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid transparent;
    background-color: #116feb;
    color: #fff;
    transition: all 0.4s;
    cursor: pointer;
}

article button:hover{
    border: 2px solid #116feb;
    background-color: #fff;
    color: #116feb;
}

.pokemons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-delete {
    background-color: red;
    color: #fff;
}
.btn-delete:hover, .btn-cancel:hover {
    border: 2px solid red;
    background-color: #fff;
    color: red;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

.edit-popup {
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 3rem;
}
.edit-popup h2{
    margin-bottom: 2rem;
}

.btn-save {
    margin: 0.5rem 0;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid transparent;
    background-color: green;
    color: #fff;
    transition: all 0.4s;
    cursor: pointer;
}
.btn-save:hover {
    border: 2px solid green;
    background-color: #fff;
    color: green;

}

.btn-cancel {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid transparent;
    background-color: red;
    color: #fff;
    transition: all 0.4s;
    cursor: pointer;
}

.edit-popup input{
    height: 2rem;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0 5px;
}
