
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article {
    margin: 2rem;
    border: 1px solid gray;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
}